:root {
  --bg-colour: #EEFBFB; /* Background colour*/
  --fg-colour-one: #203647; /* Accent 1*/
  --fg-colour-two: #4DA8DA; /* Accent 2*/
  --fg-colour-three: #007CC7; /* Accent 3*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bg-colour);
}
h2 {
  font-size: 160%;
  padding: 20px;
  text-align: center;
}
h3 {
  position:relative;
  font-size: 110%;
  text-align:center;
}
p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0.5em;
}
/*contact us form*/
#contactForm {
  margin-top: 50px;
  max-width: 450px;
}
form > h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}
label,
input,
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
  margin-top: 0.3em;
}
label {
  margin-top: 0.8rem;
}
input,
textarea,
fieldset {
  width: 100%;
  border: 1px solid hsl(220, 10%, 75%);
}
textarea {
  resize: vertical;
}
form {
  margin: 1.5rem auto;
  max-width: 40vw;
  padding: 2vw;
  background-color: var(--fg-colour-one);
  color: white;
}
input,
textarea {
  padding: 0.5rem 0.5rem;
  color: black;
  border: none;
}
textarea {
  min-height: 160px;
}
.submit-button {
  margin-top: 1rem;
  padding: 0.75rem 0.5rem;
  background-color: var(--fg-colour-two);
  transition: background-color 0.2s;
  color: black;
  border: 1px var(--fg-colour-two);
}
.submit-button:hover {
  background-color: var(--fg-colour-two);
}
.error {
  color: red;
}
/*end contact us form */
